#{extends 'main.html' /}
#{set title:'Books' /}
<div class="container">
#{ifnot logBooks}
    <h1>
        Книга не найдена
    </h1>
#{/ifnot}
#{else}
    <h1> ${logBooks.get(0).book.title}, ${logBooks.get(0).book.author} </h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Читатель</th>
            <th>Взял(а) книгу</th>
            <th>Необходимо вернуть</th>
            <th>В библиотеке</th>
        </tr>
        </thead>
        <tbody>
            #{list logBooks, as:'logBook'}
            <tr>
                <td>${logBook.reader.name + " " + logBook.reader.surname}</td>
                <td>${logBook.dateOfBookWasTaken}</td>
                <td>${logBook.dateOfBookWasReturned}</td>
                <td>
                    #{if logBook.returned} Да #{/if}
                    #{else} Нет #{/else}
                </td>
            </tr>
            #{/list}

        </tbody>
    </table>
#{/else}
</div>